{
   "presets": [
      [
         "@babel/env",
         {
            "useBuiltIns": "usage",
            "bugfixes": true,
            "targets": "> 1%, not dead, not ie 11",
            "corejs": 3.2
         }
      ]
   ]
   // "plugins": [
   //    "@babel/plugin-syntax-dynamic-import",
   //    [
   //       "@babel/plugin-transform-runtime",
   //       {
   //          "corejs": 3
   //       }
   //    ]
   // ]
}