<section class="overlay"></section>
<section class="aside__content">
    <nav class="menu-navigation">
        {% include "component/menu.twig" with { className: "global-menu", items: menu.get_items } %}
    </nav>
</section>