<div class="footer">
    <h2>Footer Works!</h2>
    <nav class="footer-navigation">
        {% include "component/menu.twig" with { className: "footer-menu", items: menu.get_items } %}
    </nav>
    </nav>
</div>