{% block html_head_container %}
{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
	<body class="{{ body_class }}">
		<aside class="main-aside">
			{% include "layout/aside.twig" %}
		</aside>
		<header class="main-header">
			{% include "layout/header.twig" %}
		</header>
		<main id="main-content" class="content-wrapper">
			{% block content %}
					
			{% endblock %}
		</main>
		<footer class="main-footer">
			{% include 'layout/footer.twig' %}
		</footer>
		{{ function('wp_footer') }}
	</body>
</html>
