{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}">
		{% include "layout/header.twig" %}

		<main id="main-content" class="content-wrapper">
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					
				{% endblock %}
			</div>
		</main>

		{% block footer %}
			{% include 'layout/footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
